<template name="confirmOrder">
    <section>
        <p>请确认订单</p>
        <p><span>总价格：</span><span>{{money order.price}}</span></p>
        <ul>
            {{#each order.dishes}}
            <li>
                <span>{{name}}</span>
                <span>{{money price}}</span>
                {{#if gt count 1}}
                <span>*</span>
                <span>{{count}}</span>
                <span>=</span>
                <span>{{money totalPrice}}</span>
                {{/if}}
            </li>
            {{/each}}
        </ul>
        <p><span>总价格：</span><span>{{money order.price}}</span></p>
        <div>
            <p>备注</p>
            <textarea name="remark" cols="30" rows="10"></textarea>
        </div>
        <div>
            <a href="">提交订单</a>
        </div>
    </section>
</template>
