<template name="shoppingCart">
    <section class="my-ordered-list">
        {{#if order.dishes.length}}
        <ul class="menu">
            {{#each order.dishes}}
            <li class="mobile-dish-box clearfix">
                <div class="dish-info">
                    <span class="dish-name">{{name}}</span>
                    <div class="pull-right">
                        <span class="dish-price">{{money totalPrice}}</span>
                        <a href="" class="control-dish remove-dish">-</a>
                        <span class="dish-count">{{count}}</span>
                        <a href="" class="control-dish select-dish">+</a>
                    </div>
                </div>
            </li>
            {{/each}}
        </ul>
        {{else}}
        <p>您还没有点过单哦！</p>
        {{/if}}
    </section>
    {{> shoppingCartBar shopId=shopId tableId=tableId showBack=true }}
</template>
