<template name="shopMenu">
    <section>
        <aside>
            <ul>
                <li>全部</li>
                {{#each menu.tagPriority}}
                <li>{{this}}</li>
                {{/each}}
            </ul>
        </aside>
        <section>
            <ul class="menu">
                {{#each menu.dishes}}
                <li>
                    <img src="{{imgPath img}}">
                    <span>{{name}}</span>
                    <span>{{desc}}</span>
                    <span>{{money price}}</span>
                    <span>
                        <a href="" class="select-dish">+</a>
                    </span>
                </li>
                {{/each}}
            </ul>
        </section>
    </section>
</template>
