<template name="shoppingCartBar">
    <footer class="mobile-order-footer">
        <a class="total-price" href="{{pathFor route='shoppingCart' shopId=shopId tableId=tableId}}">
            <div class="shopping-cart">
	            <span class="icon-cart"></span>
	            <span class="total-count">{{order.dishCount}}</span>
            </div>
            <span>{{money order.price}}</span>
        </a>
        {{#if showBack}}
        <a class="back-to-order" href="{{pathFor route='newOrder' shopId=shopId tableId=tableId}}">继续点单</a>
        {{/if}}
        <a class="confirm-order pull-right" href="{{pathFor route='confirmOrder' shopId=shopId tableId=tableId}}">确认下单</a>
    </footer>
</template>
