@import url(http://fonts.googleapis.com/css?family=Dosis);
@theme-red: #bd2400;
@theme-second-red: #e84538;
body {
	font-family: 'Dosis', helvetica, arial, sans-serif;
}
.logo {
	text-decoration: none;
	color: black;
	font-size: 2em;
	text-align: center;
	display: block;
	padding: 10px 0;
}
.logo-shop {
	float: left;
	text-decoration: none;
	font-size: 1.5em;
	line-height: 50px;
	color: white;
}
.clerk-list li{
	margin: 8px 0;
}
.navigation-wrapper {
	height: 50px;
	background-color: @theme-red;
	margin-bottom: 3%;
	.nav {
		float: right;
	}
	.nav li{
		float: left;
		padding: 20px;
	 	a {
			color: white;
			text-decoration: none;
		}
	}
}
.new-dish, .new-table {
	float: right;
	margin-bottom: 4px;
	text-decoration: none;
	font-size: 0.8em;
}

.shop-info {
	td {
		padding: 5px 0;
		&:first-child {
			padding-right: 10px;
		}
	}
}
.categories {
	.category {
		display: inline-block;
		text-decoration: none;
		border: 1px solid @theme-second-red;
		padding: 6px 12px;
		color: black;
		margin: 10px 5px;
		&:first-child {
			margin-left: 0;
		}
		&:hover {
			background-color: @theme-second-red;
			color: white;			
		}
		&.active {
			background-color: @theme-second-red;
			color: white;
		}
	}
}

.popup-container {
	.inline-form input[type='submit'] {
		margin-left: 0;
	}
}
