.icon {
	color: #666;
}
.btn {
	padding: 0 20px;
	border: none;
	border-radius: 3px;
	color: white;
	background-color: #E84538;
}
.flex-layout {
	display: flex;
}
.flex-1 {
	flex: 1;
}
.flex-4 {
	flex: 4;
}
.inline-form {
	min-width: 250px;
	max-width: 400px;
	@label-max-width: 50px;
	@label-margin-right: 10px;
	.control-group {
		margin: 20px 0;
	}
	.error.control-group {
		input {
			border-color: #E84538;
		}
		.error-msg {
			color: #E84538;
			margin-bottom: 5px;
			margin-left: @label-max-width + @label-margin-right;
		}

	}
	label {
		display: inline-block;
		margin-right: @label-margin-right;
		max-width: @label-max-width;
		line-height: 36px;
	}
	input {
		font-size: 1em;
		padding: 8px;
		border: 1px solid #ccc;
  	border-radius: 3px;
	}
	input[type='submit'] {
		padding: 9px 50px;
		margin-left: @label-max-width + @label-margin-right;
		margin-right: 10px;
		border: none;
	}
	.cancel {
		background-color: white;
		padding: 8px 20px;
	}
}
// input::-webkit-input-placeholder {
// 	color: red !important; 
// }
// input:-moz-placeholder {
// 	color: red !important; 
// }
// input::-moz-placeholder {
// 	color: red !important;
// }
// input:-ms-input-placeholder {
// 	color: red !important; 
// }
.clearfix:after {
	content: '';
	display: block;
	clear: both;
}
.container {
	width: 80%;
	min-width: 768px;
	max-width: 1500px;
	margin: 0 auto;
}
.section-title {
	height: 30px;
	line-height: 30px;
	border-bottom: 1px solid #ccc;
	font-size: 1.2em;
	padding-bottom: 10px;
	margin-bottom: 2%;
}
.flex-3-1-layout {
	display: flex;
	width: 100%;
	.flex-3 {
		flex: 3;
		margin-right: 3%;
	}
	.flex-1 {
		flex: 1;
	}
}
.dish-box {
	float: left;
	width: 32%;
	margin-right: 2%;
	margin-bottom: 30px;
	&:nth-child(3n+3) {
		margin-right: 0;
	}
	.dish-img {
		position: relative;
		overflow: hidden;
		margin-bottom: 10px;
		img {
			width: 100%;
		}
		.dish-desc {
			position: absolute;
			font-size: 0.8em;
			line-height: 1.4em;
			width: 96%;
			transition: all .5s ease;			
			bottom: -50px;
			max-height: 44px;
			background-color: rgba(0, 0, 0, 0.7);
			color: white;
			padding: 6px 2%;
			z-index: -1;
		}
		&:hover {
			.dish-desc {
				bottom: 0;
				z-index: 1;
			}			
		}
	}

	.dish-info {
		float: left;
	}
	.actions {
		float: right;
		a {
			font-size: 0.8em;
			color: #666;
		}
	}
}