<template name="popup">
    <aside class="popup-overlay">
        <section class="popup-container">
            {{#if options.closeIcon}}
            <span class="popup-close icon icon-fire"></span>
            {{/if}}
            {{> Template.dynamic template=popupTemplateName data=data}}
        </section>
    </aside>
</template>

<template name="alertPopup">
    <div class="alert-popup">
        {{#if message}}
        <p>{{message}}</p>
        {{/if}}
        <div class="controls">
            <button class="btn-confirm">{{buttonText}}</button>
        </div>
    </div>
</template>

<template name="confirmPopup">
    <div class="confirm-popup">
        {{#if message}}
        <p>{{message}}</p>
        {{/if}}
        <div class="controls">
            <button class="btn-confirm">{{buttonText}}</button>
            <button class="btn-cancel">{{cancelButtonText}}</button>
        </div>
    </div>
</template>
