<template name="popup">
    <aside class="popup-overlay">
        <section class="popup-container">
            {{#if options.closeIcon}}
            <span class="popup-close icon icon-fire"></span>
            {{/if}}
            {{> Template.dynamic template=popupTemplateName data=data}}
        </section>
    </aside>
</template>

<template name="alertPopup">
    <div class="alert-popup">
        <form action="" class="inline-form">
            {{#if message}}
            <p>{{message}}</p>
            {{/if}}
            <div class="control-group">
                <input type="submit" class="btn-confirm btn" value="{{buttonText}}">
            </div>
        </form>
    </div>
</template>

<template name="confirmPopup">
    <div class="confirm-popup">
        <form action="" class="inline-form">
        {{#if message}}
        <p>{{message}}</p>
        {{/if}}
        <div class="control-group">
            <input type="submit" class="btn-confirm btn" value="{{buttonText}}">
            <input type="button" class="btn-cancel cancel" value="{{cancelButtonText}}">
        </div>
        </form>
    </div>
</template>
