<template name="clerkList">
    <section>
        <div>
            <a class="new-clerk" href="{{pathFor route='newClerk' shopId=shopId}}">增加店员</a>
        </div>
        <ul class="clerk-list">
            {{#each clerks}}
            <li>
                <span>{{profile.name}}</span>
                <a class="update-clerk" href="{{pathFor route='updateClerk' shopId=../shopId clerkId=_id}}">修改</a>
                <a class="delete-clerk">删除</a>
            </li>
            {{/each}}
        </ul>
    </section>
</template>
