<template name="dish">
    <li class="dish-box">
        <div class="dish-img">
            <img src="{{img}}"/>
            <div class="dish-desc">{{desc}}</div>
        </div>
        
        <div class="dish-info">
            <div class="dish-name">{{name}}</div>
            <div class="dish-price">{{money price}}</div>
        </div>

        <div class="actions">
            <a class="update-dish" href="#">修改</a>
            <a class="delete-dish" href="#">删除</a>
        </div>  

        {{#if options.length}}
        <ul>
            {{#each options}}
            {{> dishOption }}
            {{/each}}
        </ul>

        {{/if}}    

    </li>
</template>
