<template name="dish">
    <li class="dish-box">
        <div class="dish-img">
            <img src="{{imgWithDefaultPath img 'm'}}"/>
            {{#if desc}}
            <div class="dish-desc">{{desc}}</div>
            {{/if}}
        </div>
        
        <div class="dish-info">
            <span class="dish-name">{{name}}</span>
            <span class="dish-price">{{money price}}</span>
        </div>

        <div class="info-box-item-actions">
            <a class="update-dish" href="{{pathFor route='updateDishDetails' shopId=../shopId dishId=dishId}}">修改</a>
            <a class="delete-dish" href="#">删除</a>
        </div>  
    </li>
</template>
