<template name="dishForm">
    <form class="dish-form inline-form">
        <h2 class="section-title">{{title}}</h2>

        <div class="control-group {{errorClass 'name'}}">
            <div class="error-msg">{{errorInfo 'name'}}</div>
            <div class="flex-layout">
                <label class="flex-1" for="name">菜品名称</label>
                <input class="flex-4" id="name" name="name" value="{{dish.name}}">
            </div>
        </div>
        <div class="control-group {{errorClass 'price'}}">
            <div class="error-msg">{{errorInfo 'price'}}</div>
            <div class="flex-layout">
                <label class="flex-1" for="price">价格</label>
                <input class="flex-4" id="price" name="price" value="{{dish.price}}">
            </div>
        </div>
        <div class="control-group {{errorClass 'desc'}}">
            <div class="error-msg">{{errorInfo 'desc'}}</div>
            <div class="flex-layout">
                <label class="flex-1" for="desc">简介</label>
                <input class="flex-4" id="desc" name="desc" value="{{dish.desc}}">
            </div>
        </div>
        <div class="control-group {{errorClass 'tags'}}">
            <div class="error-msg">{{errorInfo 'tags'}}</div>
            <div class="flex-layout">
                <label class="flex-1" for="tags">类型</label>
                <input class="flex-4" id="tags" name="tags" value="{{dish.tags}}">
            </div>
        </div>
        <div class="control-group" id="uploaderContainer">
            <div class="flex-layout" id="imgUploader">
                <label class="flex-1">上传图片</label>
                <img class="dish-img flex-4" src="{{imgPath dish.img}}" width="330" height="220">
                <input id="img" name="img" type="hidden" value="{{dish.img}}">
            </div>
        </div>
        <div class="control-group">
            <input type="submit" class="submit btn" value="{{submit}}">
            <input type="button" class="cancel" value="取消">
        </div>
    </form>
</template>
