<template name="dishList">
    <div class="info-box">
        <h2 class="info-box-title clearfix">菜品信息<a class="new-dish btn" href="{{pathFor route='newDish' shopId=shop._id}}">添加菜品</a></h2>
        <div class="all-dishes">
            <div class="categories">
                <a href="" class="category {{activeCategoryClass}}">所有</a>
                {{#each shop.menu.tagPriority}}
                <a href="" class="category {{activeCategoryClass this}}" data-category="{{this}}">{{this}}</a>
                {{/each}}
            </div>
            <ul>
                {{#each categoryDishes shop.menu.dishes}}
                {{> dish }}
                {{/each}}
            </ul>
        </div>
    </div>
</template>
