<template name="myShopLayout">
    <header>
        <div class="container">
            <h1><a class="logo" href="/">WaiterFree</a></h1>
        </div>
    </header>
    <div class="navigation-wrapper">
        <div class="container">
            <a class="logo-shop" href="{{pathFor route='myShop' shopId=shopId}}">{{shop.name}}</a>
            <nav class="nav">
                <ul class="clearfix">
                    <li><a href="{{pathFor route='myTables' shopId=_id}}">管理桌台</a></li>
                    <li><a href="">查看订单</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <section>
        {{> yield}}
    </section>
</template>
