<template name="myShop">
    <div class="container">
            <div class="flex-3-1-layout">
                <div class="flex-3">
                    <h2 class="section-title clearfix">菜品信息<a class="new-dish" href="#">添加菜品</a></h2>
                    <div class="all-dishes">
                        <div class="categories">
                            <a href="" class="category {{activeCategory}}">所有</a>
                            {{#each menu.tagPriority}}
                                <a href="" class="category {{activeCategory this}}" data-category="{{this}}">{{this}}</a>
                            {{/each}}
                        </div>
                        <ul>
                            {{#each categoryDishes menu.dishes}}
                            {{> dish }}
                            {{/each}}
                        </ul>
                    </div>
                </div>
                <div class="flex-1">
                    <h2 class="section-title">店铺信息</h2>
                    <table class="shop-info">
                        <tr>
                            <td><span class="icon-phone"></span></td>
                            <td>{{tel}}</td>
                        </tr>
                        <tr>
                            <td><span class="icon-address-book"></span></td>
                            <td>{{address}}</td>
                        </tr>
                        <tr>
                            <td><span class="icon-hammer"></span></td>
                            <td>{{#each tags}}<span>{{this}}</span> {{/each}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
</template>
