<template name="updateDishDetails">
    <form action="" method="post">
        <div id="uploaderContainer">
            <div id="imgUploader">
                <div>点击图片上传</div>
                <img class="dish-img" src="/images/emptyImg.png" width="330" height="220">
            </div>
        </div>
        <div><label for="name">菜品名称</label><input id="name" name="name" value="{{name}}"></div>
        <div><label for="img">图片</label><input id="img" name="img" value="{{img}}"></div>
        <div><label for="price">价格</label><input id="price" name="price" value="{{price}}"></div>
        <div><label for="desc">简介</label><input id="desc" name="desc" value="{{desc}}"></div>
        <div><label for="tags">类型</label><input id="tags" name="tags" value="{{tags}}"></div>
        <div>
            <input type="submit" value="修改">
            <input type="button" class="cancel" value="取消">
        </div>
    </form>
</template>
