<template name="updateShopDetails">
    <form action="" method="post">
        <div><label for="name">店铺名称</label><input id="name" name="name" value="{{name}}"></div>
        <div><label for="desc">店铺描述</label><input id="desc" name="desc" value="{{desc}}"></div>
        <div><label for="address">店铺地址</label><input id="address" name="address" value="{{address}}"></div>
        <div><label for="tel">联系电话</label><input id="tel" name="tel" value="{{tel}}"></div>
        <div><label for="tags">店铺类型</label><input id="tags" name="tags" value="{{tags}}"></div>
        <div>
            <input type="submit" value="修改">
            <input type="button" class="cancel-update" value="取消">
        </div>
    </form>
</template>
