<template name="updateDishDetails">
    <div class="container">
        <form class="update-shop inline-form">
            <h2 class="section-title">编辑菜品</h2>
            <div class="control-group {{errorClass 'name'}}">
                <div class="error-msg">{{errorInfo 'name'}}</div>
                <div class="flex-layout">
                    <label for="name" class="flex-1">菜品名称</label>
                    <input id="name" class="flex-4" name="name" value="{{dish.name}}">
                </div>
            </div>
            <div class="control-group {{errorClass 'price'}}">
                <div class="error-msg">{{errorInfo 'price'}}</div>
                <div class="flex-layout">
                    <label for="price" class="flex-1">价格</label>
                    <input id="price" class="flex-4" name="price" value="{{dish.price}}">
                </div>
            </div>
            <div class="control-group {{errorClass 'desc'}}">
                <div class="error-msg">{{errorInfo 'desc'}}</div>
                <div class="flex-layout">
                    <label for="desc" class="flex-1">简介</label>
                    <input id="desc" class="flex-4" name="desc" value="{{dish.desc}}">
                </div>
            </div>
            <div class="control-group {{errorClass 'tags'}}">
                <div class="error-msg">{{errorInfo 'tags'}}</div>
                <div class="flex-layout">
                    <label for="tags" class="flex-1">类型</label>
                    <input id="tags" name="tags" class="flex-4" value="{{dish.tags}}">
                </div>
            </div>
            <div>
                <input type="submit" class="btn" value="修改">
                <input type="button" class="cancel" value="取消">
            </div>
        </form>
    </div>
</template>
